
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100 vh;
}

body {
    height: 100 vh;
    background-color: #FFFFFF;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 4em;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 45px;
    width: 1400px;
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.4);
}

.game-info {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Montserrat Subrayada', sans-serif;
    background-color: #2B7A78;
    -webkit-text-stroke-width: 0.2px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    user-select: none;
}

.time {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 1.5em;
    color: #FEFFFF;
    font-family: 'Roboto', sans-serif;
}

.player-turn {
    position: absolute;
    bottom: 0;
    left: 135px;
    font-size: 1.5em;
    color: #FEFFFF;
    font-family: 'Roboto', sans-serif;
}

.title {
    position: absolute;
    bottom: 0;
    right: 35%;
    font-size: 3.4em;
    color: #FEFFFF;
    margin: -10px;
    
}

.room-name {
    position: absolute;
    bottom: 0;
    right: 1%;
    font-size: 1.5em;
    color: #FEFFFF;
    font-family: 'Roboto', sans-serif;
}


/* Game */
.game-container {
    background-color: #DEF2F1;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 15;
    border-top-left-radius: 4px;
    user-select: none;
}

.game-box {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
    justify-content: space-between;
    align-content: space-around;
    width: 800px;
    min-height: 800px;
    perspective: 800px;
}
/* Change background color on flip !!*/
.card {
    background-color: #3AAFA9;
    border-radius: 5px;
    width: 145px;
    height: 180px;
    transition: .6s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}


.card:hover {
    cursor: pointer;
    transform: scale(1);
    border: 2px solid;
    background-color: #2B7A78;
}
.card .front-card {
    position: absolute;
    width: 125px;
    height: 125px;
    margin-top: 25px;
    margin-left: 10px;
    backface-visibility: hidden;
    cursor: pointer;
}
.card .back-card {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 10px 15px;
    margin-top: 12px;
    transform: rotateY(180deg);
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
    cursor: pointer;
}

/* Player Info */
.player-info {
    background-color: #DEF2F1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 9;
    border-radius: 8px;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.info {
    padding: 0;
}
.info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.info-grid img{
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-top: 7px;
    border-radius: 45px;
    padding: 10px;
    border: 1px solid;
    
}

#p1 {background-color: rgb(228, 198, 149);}
#p2 {background-color: rgb(137, 112, 168);}
#p3 {background-color: rgb(149, 175, 245);}
#p4 {background-color: rgb(230, 141, 141);}

.info-grid h3 {
    padding: 0;
    background-color: #2B7A7B;
    margin-bottom: 0;
    margin-top: 10px;
    color: #DEF2F1;
    height: 60px;
    padding-top: 10px;
    font-size: 2em;
    
}

.points {
    font-size: 1.3em;
    text-align: center;
    background-color: #3AAFA9;
    color: #DEF2F1;
}

.scores {
    width: 96%;
    height: 30%;
    font-size: 2em;
    padding: 5px;
    margin: 0px;
    background-color: teal;
    border: 1px solid;
    border-radius: 15px;
    margin: 5px 0px;
    color: #def2f1;


}
.score-value{
    float: left;
    text-align: left;
    width:43.33333%;
}
.num{
    float: left;
    text-align: right;
    width:50.33333%;
    color:white;
}


.start-container {
    background-color: #DEF2F1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    font-family: 'Quicksand', sans-serif;
}

/* Chat Box */
.chat-container {
    background-color: #E4FDE1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 14;
    font-family: 'Quicksand', sans-serif;
}


li {
    list-style: none;
}

.chat-box {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    height: 100%;
    min-width: 100%;
    padding: 10px;
    overflow-y: scroll;
    background-color: #3aafa9;

}

.chat-box p {
    font-size: 1.1em;
}

.left-messages, .right-messages {
    border-radius: 15px;
    width: 55%;
    padding: 10px 20px;
    margin-bottom: 8px;
}

.left-messages {
    background-color: #99E5EA;
    margin-top: 5px;
    margin-left: 8px;
}

.right-messages {
    background-color: #EDDDD4;
    margin-left: auto;
    margin-right: 8px;
}

.message-name-left, .message-name-right {
    color: white;
    font-size: .8em;   
}

.message-name-left {
    padding: 1px 25px;
}

.message-name-right {
    margin-left: auto;
    padding: 2px 33px;
}

.chat-form-container {
    padding: 0 auto;
    max-height: 90px;
    border-bottom-right-radius: 10px;
}

.chat-form-container form {
    display: flex;
    height: 64px;
    padding: 1px 3px;
    background-color: #DEF2F1;
    border-bottom-right-radius: 4px;
    user-select: none;
}

.chat-form-container input[type="text"] {
    font-size: 25px;
    height: 45px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 3px;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
    background-color:transparent;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Quicksand', sans-serif;
}

.chat-form-container input[type="text"]:focus {
    outline: none;
}

.btn {
    font-size: 1.5em;
    height: 45px;
    width: 100px;
    background-color: #16252A;
    border: 1px;
    color: #feffff;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    outline: none;
}

.btn:hover, .btns:hover {
    cursor: pointer;
    background-color: #32464e;
    color: #DEF2F1;
    transform: scale(1);
    transition: .31s ease-out;
}

.btns {
    height: 45px;
    width: 100px;
    background-color: #16252A;
    border: 1px;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    margin: 10px 18px;
    font-size: 1em;
    color: #feffff;
}




    
/* Join Room Page */
.top {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
.join-title {
    font-size: 3.5em;
    -webkit-text-stroke-width: 0.5px;
    height: 140px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    user-select: none;
} 

.join-container {
    display: grid;
    grid-auto-rows: 4em;
    border-radius: 15px;
    background-color: #2B7A78;
    grid-gap: 0px;
    min-width: 90vh;
    max-width: 90vh;
    position: absolute;
    padding: 10px 15px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.4);
    user-select: none;
}


/* Username*/
.name-container {
    background-color: white;
    border-top-left-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 11;
    text-align: center;
 }

.text {
    font-size: 1.5em;
    margin: 10px;
}

.name-container input[type="text"]{
    background-color: white;
    width: 60%;
    height: 55px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 1.7em;
    padding: 10px 5px;
    margin-left: 3%;
    margin-top: 20px;
    margin-bottom: 35px;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    outline: none;
    text-align: center;
}

.name-container button {
    width: 190px;
}

.name-container h1 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 18px;
}
.name-container select {
    width: 80%;
    height: 100%;
    font-size: 2em;
    outline: none;
    overflow: hidden;
    border: none;
    margin-bottom: 10px;
}

.name-container option {
    background-color: #def2f1;
    margin-top: 7px;
    width: 100%;
    height: 100%;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.name-container option:hover {
    transform: scale(1.02);
    transition: .31s ease-out;
    background-color: #2b7a78;
}

.name-container option:checked {
    transform: scale(1.02);
    transition: .31s ease-out;
    box-shadow: 0 0 10px 100px #2b7a78 inset;
}
.room-list:hover {
    transform: scale(1.02);
    transition: .31s ease-out;
    background-color: #2b7a78;
}


.buttons {
    margin: 1% 25%;
    text-align: center;
}

.buttons button {
    height: 50px;
    margin: 5px;
}

/* Overlay */
#overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 4;
  }



  